<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-800 h-screen w-full p-10">

        <%if(admin.register.length > 0){%>
            
            <%admin.register.reverse().forEach(function(post){%>
                <div class="h-[150px] mt-3 w-[400px] bg-green-400 rounded-md p-4">
                    
                    <h1>Hospital request</h1>
                    <h1 class="text-xl"><%=post.name%></h1>
                    <a class=" bg-red-500 p-1 block mt-4 w-14 rounded-md" href="/reject/<%=post.id%>"> Reject</a>
                </div>
                    <%})%>
            <%}else{%>
                <h1 class="text-white text-3xl">No requests yet...</h1>
                <%}%>
       
    </div>
</body>
</html>